<div>
    <form #currency="ngForm" (ngSubmit)="submit(currency)">
        <div class = "form-group">
            <h3>Podaj walutę</h3>
            <label for="currency">Waluta</label><br>
            <input type="text" name = "currency" class="form-control" ngModel><br>
            <label for="nickname">Nazwa użytkownika</label><br>
            <input type="text" name = "nickname" class="form-control" ngModel>
            <button class="btn btn-primary" type="submit">Wyślij</button>
        </div>
    </form>
</div>
