<div class="component">
    <form #currency="ngForm" (ngSubmit)="submit(currency)">
        <div class = "form-group">
            <h3>Podaj walutę</h3>
            <input 
                type="text" 
                name="currency" 
                class="form-control" 
                [(ngModel)]="formData.currency"
                #currencyValue="ngModel"
                appCurrencyValidator
                required
            >
    
            <div *ngIf="showError && currencyValue.invalid && (currencyValue.dirty || currencyValue.touched)">
                <div class="error" *ngIf="currencyValue.hasError('customCurrencyError')">
                    {{ currencyValue.getError('customCurrencyError') }}
                </div>
            </div>
            <div *ngIf="currencyValidationInfo != ''">
                <div class="error">
                    {{ currencyValidationInfo }}
                </div>
            </div>
            <label for="nickname">Imię i Nazwisko</label><br>
            <input 
                type="text" 
                name="nickname" 
                class="form-control" 
                [(ngModel)]="formData.nickname"
                #nickname="ngModel"
                appNicknameValidator
                required
            >
            <div *ngIf="showError && nickname.invalid && (nickname.dirty || nickname.touched)">
                <div class="error" *ngIf="nickname.hasError('customNicknameError')">
                    {{ nickname.getError('customNicknameError') }}
                </div>
            </div>
            <br>
            
            <button class="btn btn-primary" type="submit">Wyślij</button>
        </div>
    </form>
    <ng-container  *ngIf="response != ''">
        <div class="response-container">
            kurs wynosi: {{response}}
        </div>
    </ng-container>
</div>
