<div class="component">
    <form #currency="ngForm" (ngSubmit)="submit(currency)">
        <div class = "form-group">
            <h3>Podaj walutę</h3>
            
            <!--Currency input-->
            <ng-container *ngIf="!currencyValidationInfo.validationPass">
                <div class="error">{{currencyValidationInfo.errorMessage}}</div>
                <br>
            </ng-container>
            <label for="currency">Waluta</label><br>
            <input type="text" name = "currency" class="form-control" ngModel><br>
            
            <!--Nickname input-->
            <ng-container *ngIf="!currencyValidationInfo.validationPass">
                <div class="error">{{nicknameValidationInfo.errorMessage}}</div>
                <br>
            </ng-container>
            <label for="nickname">Imie i Nazwisko</label><br>
            <input type="text" name = "nickname" class="form-control" ngModel>
            
            <!--Submit Button-->
            <button class="btn btn-primary" type="submit">Wyślij</button>
        </div>
    </form>
    <ng-container  *ngIf="response != ''">
        <div class="response-container">
            kurs wynosi: {{response}}
        </div>
    </ng-container>
</div>
