<div  class="component">
    <form #request="ngForm" (ngSubmit)="submit(request)">
        <div class = "form-group">
            <h3>Podaj Nazwę użytkownika</h3>
            <input 
                type="text" 
                name="nickname" 
                class="form-control" 
                [(ngModel)]="formData.nickname"
                #nickname="ngModel"
                appNicknameValidator
                required
            >
            <div *ngIf="showError && nickname.invalid && (nickname.dirty || nickname.touched)">
                <div class="error" *ngIf="nickname.hasError('customNicknameError')">
                    {{ nickname.getError('customNicknameError') }}
                </div>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Wyślij</button>
        </div>
    </form>
    <div class="center-content" *ngIf="response.length > 0">
        <div  *ngFor="let item of response">
            <div class="response-container">
                Imię i Nazwisko: {{item.name}}
                <br>
                Data: {{item.date | date: 'HH:mm dd:MM:yyyy'}}
                <br>
                Waluta: {{item.currency}}
                <br>
                Wynik: {{item.value}}
                <br>
            </div>
        </div>
    </div>
    <div class="center-content" *ngIf="response.length === 0 && nicknameValidationInfo.validationPass">
        <div class="response-container">
            Brak danych
        </div>
    </div>
</div>
